.pio
.vscode
*.key
*.crt
azure-pipelines - Kopie.yml
!deploy/
!deploy/*
/data
/managed_components/
secrets.h
.env
/esptools
*node_modules
*dist
*testfiles
*compile_commands.json
*dither-test
*web_old
*web_new
/web_old
/web_new